receivers:
  journald:
    priority: info
  hostmetrics:
    collection_interval: 60s
    scrapers:
      cpu:
      memory:
      disk:
      filesystem:
      network:
      load:

processors:
  batch:
    timeout: 5s
    send_batch_size: 8192
  resourcedetection:
    detectors: [system]
    system:
      hostname_sources: [os]
      resource_attributes:
        host.name:
          enabled: true
        os.type:
          enabled: true

exporters:
  otlphttp:
    endpoint: "https://{{ betterstack_ingesting_host }}"
    headers:
      Authorization: "Bearer {{ betterstack_source_token }}"

service:
  pipelines:
    logs:
      receivers: [journald]
      processors: [resourcedetection, batch]
      exporters: [otlphttp]
    metrics:
      receivers: [hostmetrics]
      processors: [resourcedetection, batch]
      exporters: [otlphttp]
