apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |
    certificatesResolvers:
      letsencrypt:
        acme:
          email: {{ acme_email }}
          storage: /data/acme.json
          dnsChallenge:
            provider: vultr
    ports:
      websecure:
        tls:
          certResolver: letsencrypt
    env:
      - name: VULTR_API_KEY
        valueFrom:
          secretKeyRef:
            name: vultr-dns
            key: api-key
